<!DOCTYPE html>

<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

    <head>
        <title>Ópticas UPN | Amamos tus ojos | Compra ahora en UPN.com.pe</title>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0"/>
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>


        <meta name="viewport" content="width=device-width, initial-scale=1"/><!-- comment -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css"/>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                $('#tablaDT').DataTable();
            });
        </script>

    </head>
    <body>     

        <header th:replace="fragments :: encabezado2"></header>
        <section class="banner-bottom-wthreelayouts py-lg-5 py-3">
            <div class="container">
                <!---728x90--->
                <section class="container__testimonials">
                    <h2 class="section__title">Agregar Usuario</h2>                            
                </section>
            </div>
        </section>
        <!--        //formulario bootstrap-->
        <main class="main">
            <div class="container">
                <section class="container"> 
                    <div class="">
                        <!--//formulario bootstrap-->
<!--                        <form th:action="@{/usuarioIns}" method="POST"  th:object="${usuario}">-->
                            <form th:action="@{/registro}" method="POST"  th:object="${usuario}">
                            <div class="form-group">
                                <label for="">Nombres</label>
                                <input type="text" th:field="*{u_nombres}" class="form-control"  placeholder="Ingresar Nombre del usuario">
                                <span th:if="${#fields.hasErrors('u_nombres')}" th:errors="*{u_nombres}"></span>
                            </div>
                             <div class="form-group">
                                <label for="">Paterno</label>
                                <input type="text"  th:field="*{u_Paterno}"  class="form-control"  placeholder="Ingresar Apellido Paterno">
                                <span th:if="${#fields.hasErrors('u_Paterno')}" th:errors="*{u_Paterno}"></span>  
                            </div>
                            <div class="form-group">
                                <label for="">Materno</label>
                                <input type="text" th:field="*{u_Materno}"  class="form-control"  placeholder="Ingresar Apellido Materno">
                                <span th:if="${#fields.hasErrors('u_Materno')}" th:errors="*{u_Materno}"></span>
                            </div>
                           
                            <div class="form-group">
                                <label for="">DNI</label>
                                <input type="text" th:field="*{u_dni}" class="form-control"  placeholder="Ingresar DNI  ">
                                <span th:if="${#fields.hasErrors('u_dni')}" th:errors="*{u_dni}"></span>
                            </div>
                            <div class="form-group">
                                <label for="">Direccion</label>
                                <input type="text" th:field="*{u_Direccion}" class="form-control"  placeholder="Ingresar Direccion ">
                                <span th:if="${#fields.hasErrors('u_Direccion')}" th:errors="*{u_Direccion}"></span>
                            </div>    
<!--                            <div class="form-group">
                                <label for="">Perfil</label>
                                <input type="text" th:field="*{u_perfil}" class="form-control"  placeholder="Ingresar Perfil">
                                <span th:if="${#fields.hasErrors('u_perfil')}" th:errors="*{u_perfil}"></span>
                            </div>-->
                            <div class="form-group">
                                <label for="">Correo</label>
                                <input type="text" th:field="*{u_correo}" class="form-control"  placeholder="Ingresar Correo">
                                <span th:if="${#fields.hasErrors('u_correo')}" th:errors="*{u_correo}"></span>
                            </div>
                            <div class="form-group">
                                <label for="">User</label>
                                <input type="text" th:field="*{username}" class="form-control"  placeholder="Ingresar User">
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                            </div>
                            <div class="form-group">
                                <label for="">Password</label>
                                <input type="text" th:field="*{password}"  class="form-control"  placeholder="Ingresar Password">
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                            </div>
                            <div class="form-group">
                                <label for="">Telefono</label>
                                <input type="text" th:field="*{u_telefono}"  class="form-control"  placeholder="Ingresar Teléfono">
                                <span th:if="${#fields.hasErrors('u_telefono')}" th:errors="*{u_telefono}"></span>
                            </div>

                            <button type="submit" value="Agregar" class="btn btn-primary">Agregar</button>

                        </form>                        
                    </div>
                </section>
                <p></p>
            </div>
        </main>

        <p></p>


        <footer th:replace="fragments :: pie"></footer>
        <!-- SLIDER Y MENU-->

       
    </body>
</html>
