<!DOCTYPE html>

<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

    <head>
        <title>Ópticas UPN | Amamos tus ojos | Compra ahora en UPN.com.pe</title>
        <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0"/>
        <link th:href="@{/css/estilos.css}" rel="stylesheet" href="#"/>        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/><!-- comment -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css"/>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                $('#tablaDT').DataTable();
            });
        </script>
    </head>
    <body>
        <header th:replace="fragments :: encabezado2"></header>
        <div class="card-body">
            <h1>Categoria</h1><br/>
            <a href="nuevaCategoria" class="btn btn-primary" role="button" aria-pressed="true">Nuevo</a>
            <br/><br/>   
            <table id="tablaDT" class="display">     
                <thead>
                    <tr>
                        <th>ID</th>               
                        <th>Categoria</th>
                        
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="st : ${lista}">
                        <td th:text="${st.c_id}"></td>   
                        <td th:text="${st.c_nombre}"></td>                        
                        <td>                  
                            <a th:href="@{'actualizarCategoria?id=' + ${st.c_id}}" class="btn btn-success" role="button" aria-pressed="true">Actualizar</a>
                        </td>
                        <td>
                            <a th:href="@{'categoriaDel?id=' + ${st.c_id}}" class="btn btn-danger" role="button" aria-pressed="true">Eliminar</a>                        
                        </td>  
                    </tr>
                </tbody>   
            </table>
        </div>
        <footer th:replace="fragments :: pie"></footer>
    </body>
</html>
