<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
    <head>
        <title>Ópticas UPN | Amamos tus ojos | Compra ahora en JOSY.com.pe</title>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0"/>
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
        <!--        <script type="javascript" th:src="@{/JS/slider.js}"></script>
                <script src="JS/menu.js"></script>-->
    </head>
    <body>
        <header th:replace="fragments :: encabezado2"></header>

        <div class="container-slider">
            <div class="slider" id="slider">
                <div class="slider__section">
                    <img src="https://images.unsplash.com/photo-1558961917-2bfe20527f46?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="" class="slider__img">
                        <div class="slider__content">
                            <h2 class="slider__title">Gafas de Mujer</h2>
                            <p class="slider__txt">Oferta de Verano hasta 50% de descuento</p>
                            <a href="" class="btn-shop">COMPRAR</a>
                        </div>
                </div>
                <div class="slider__section">
                    <img src="https://images.unsplash.com/photo-1591596737769-29af4654dbb6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="" class="slider__img">
                        <div class="slider__content">
                            <h2 class="slider__title">Gafas de Varon</h2>
                            <p class="slider__txt">Oferta de Verano hasta 50% de descuento</p>
                            <a href="" class="btn-shop">COMPRAR</a>
                        </div>
                </div>
                <div class="slider__section">
                    <img src="https://images.unsplash.com/photo-1584467331146-b47a946f071b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="" class="slider__img">
                        <div class="slider__content">
                            <h2 class="slider__title">Gafas de Mujer</h2>
                            <p class="slider__txt">Oferta de Verano hasta 50% de descuento</p>
                            <a href="" class="btn-shop">COMPRAR</a>
                        </div>
                </div>
                <div class="slider__section">
                    <img src="https://images.unsplash.com/photo-1508179522353-11ba468c4a1c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="" class="slider__img">
                        <div class="slider__content">
                            <h2 class="slider__title">Gafas de Varon</h2>
                            <p class="slider__txt">Oferta de Verano hasta 50% de descuento</p>
                            <a href="" class="btn-shop">COMPRAR</a>
                        </div>
                </div>
            </div>

            <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>

        </div>


        <main class="main">

            <div class="container">
                <h2 class="main-title">Nuevos modelos para ti</h2>
                <section class="container-products">
                    <div class="product">
                        <img src="https://images.unsplash.com/flagged/photo-1577479662097-5e0347cbe923?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Ray-ban</h3>
                                <span class="product__price">S/ 615.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                    <div class="product">
                        <img src="https://images.unsplash.com/photo-1580604987953-2f5f76469cf8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1476&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Oakley</h3>
                                <span class="product__price">S/ 600.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                    <div class="product">
                        <img src="https://images.unsplash.com/photo-1508296695146-257a814070b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=880&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Armany Exchange</h3>
                                <span class="product__price">S/ 655.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                    <div class="product">
                        <img src="https://images.unsplash.com/photo-1574258495973-f010dfbb5371?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Arnette</h3>
                                <span class="product__price">S/ 499.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                </section>
                <p></p>

                <section class="container-products">
                    <div class="product">
                        <img src="https://images.unsplash.com/photo-1483412468200-72182dbbc544?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Ray-ban</h3>
                                <span class="product__price">S/ 6555.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                    <div class="product">
                        <img src="https://images.unsplash.com/photo-1587929501535-1e2d559e8488?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Oakley</h3>
                                <span class="product__price">S/ 499.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                    <div class="product">
                        <img src="https://images.unsplash.com/photo-1603578119639-798b8413d8d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Armany Exchange</h3>
                                <span class="product__price">S/ 575.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                    <div class="product">
                        <img src="https://images.unsplash.com/photo-1594005952008-53d5f34a83e4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Arnette</h3>
                                <span class="product__price">S/ 325.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                </section>

                <p></p>

                <section class="container-products">
                    <div class="product">
                        <img src="https://images.unsplash.com/photo-1615210768832-159ca3912a05?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Ray-ban</h3>
                                <span class="product__price">S/ 715.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                    <div class="product">
                        <img src="https://images.unsplash.com/photo-1574065557312-b7cc977d8a89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Oakley</h3>
                                <span class="product__price">S/ 675.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                    <div class="product">
                        <img src="https://images.unsplash.com/photo-1615908257501-288d7d5ea37c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Armany Exchange</h3>
                                <span class="product__price">S/ 499.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                    <div class="product">
                        <img src="https://images.unsplash.com/photo-1586051384951-bb5e7d1a5e57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" class="product__img">
                            <div class="product__description">
                                <h3 class="product__title">Arnette</h3>
                                <span class="product__price">S/ 700.00</span>
                            </div>
                            <i class="product__icon fas fa-cart-plus"></i>
                    </div>
                </section>

                <section class="container__testimonials">
                    <h2 class="section__title">Atencion Personalizada</h2>
                    <h3 class="testimonial__title"></h3>
                    <p class="testimonial__txt">PORQUE AMAMOS TUS OJOS NOS CUIDAMOS TODOS.</p>
                    <p class="testimonial__txt">Contamos con un protocolo de atencion priorizando tu seguridad.</p>
                </section>

                <div class="container-editor">
                    <div class="editor__item">
                        <img src="https://images.unsplash.com/photo-1548366565-b81d0aa77d2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" class="editor__img">
                            <p class="editor__circle">"Sin lluvia no hay flores"  - Seth Godin</p>
                    </div>
                    <div class="editor__item">
                        <img src="https://images.unsplash.com/photo-1616161891675-810fca85c76e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80" alt="" class="editor__img">
                            <p class="editor__circle">"Todo lo que puedas imaginar es Real" - Pablo Piccasso</p>
                    </div>
                </div>
                <section class="container-tips">

                    <div class="tip">
                        <i class="fas fa-truck"></i>
                        <h2 class="tip__title">Delivery Gratuito</h2>
                        <p class="tip__txt">sabemos que nuestros productos son de primera necesidad para muchas personas. Es por ello, que hemos habilitado el envío gratuito a nivel nacional</p>
                    </div>

                    <div class="tip">
                        <i class="far fa-smile-beam"></i>
                        <h2 class="tip__title">Satisfaccion Garantizada</h2>
                        <p class="tip__txt"> Si no quedaste conforme con un producto o no te gustó, tienes 30 días, desde recepcionado el producto, para solicitar la devolución del producto, anulación de la compra y devolución del dinero según forma de pago.</p>
                    </div>

                    <div class="tip">
                        <i class="fas fa-hamsa"></i>
                        <h2 class="tip__title">Proteccion UV</h2>
                        <p class="tip__txt">Todos nuestros productos incluyen protección en gafas de sol UV400 es un filtro que te protege completamente de los rayos UV, incluyendo los rayos UVA y los UVB.</p>
                    </div>
                </section>
            </div>

        </main>

        <footer th:replace="fragments :: pie"></footer>
        <!-- SLIDER Y MENU-->

        <js th:replace="fragments :: js"></js>

    </body>
</html>
